
@import "base/base";
@import "abstract/variables";
@import "abstract/mixin";

body{
    background-color:color(primary);
    position: relative;
    
}
.todo{
    border: 0.2rem solid color(third);
    border-radius: 2rem;
    background-color:color(back);
    padding:3rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    @include flexPosition;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);

    
    &-heading{
      color: color(secondary);
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem 0;
      padding-top: 0;
      margin: 1rem 0;
      border-bottom: 0.1rem solid color(third);

    }
    &-form{
        border: 0.1rem solid color(third);
        padding: 1rem;
        border-radius: 30px;
        display: flex;
        

        &-text{
            padding: 1rem;
            outline: none;
            border: 0;
            border-radius: 0.7rem;
            font-size: 1.5rem;
            font-family: inherit;
            font-weight: 300;
            flex-grow: 1;
            background-color: color(back);
            color: color(secondary);
           
        }
        &-btn{
            font-family: inherit;
            font-size: 1.2rem;
            cursor: pointer;
            padding: 0.6rem 1.2rem;
            margin:4px;
            background-color:color(third);
            border: 0;
            border-radius: 30px;
            transition: background-color 0.7s;
            &:hover{
                background-color: lighten(color(third), 15%);
            }
        }

    }
}
// body{
//     background-color: $color-primary;
//     font-family: cursive;
//     display: flex;
//     align-items: center;
//     justify-content: center;

// }
// h1{
//     color:white;
//     text-align: center;

// }
// .todo{
//     padding: 2rem;
//     margin: 2rem;
//     border: 2px solid black;
// }
// #myInput{
   
//     text-align: center;
//     padding: 1.6rem ;
//     font-size: 1rem;
//     overflow: hidden;
//     box-shadow: 2px 2px 2px  rgba(24, 23, 23, 0.705);
//     border-radius: 10px;
//     color: cadetblue;
//     display: block;
//     font-family:inherit;

    
    
// }
// #myInput:focus{
//     outline: none;
//     border-color: rgb(41, 99, 138);
// }

// .btn{
//     border-radius: 10px;
//     padding: 0.75rem 0.5rem;
//     color: white;
//     font-family:inherit;
//     padding: 0.5rem 7rem;
//     margin-top: 1rem;
//     background-color: rgba(224, 91, 91, 0.877);
//     border: 0;
//     box-shadow: 2px 2px 2px  rgba(24, 23, 23, 0.705);
//     cursor: pointer;
//     margin-bottom: 2rem;
// }
// .btn:hover,
// .btn:active{
//     background-color: rgb(139, 54, 54);
// }
// #list{
//     border-radius: 10px;
//     background-color: darkcyan;
//     padding: 3rem 2rem;
//     margin-top: 1rem;
// }

.hidden{
    display: none;
}